server:
  port: 9090

spring:
  application:
    name: calendar-service

  security:
    oauth2:
      resource-server:
        jwt:
          issuer-uri: http://localhost:8080/realms/demo    # ? same Keycloak realm

